# MongoDB
MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=ChangeMe!

# PostgreSQL
POSTGRES_USER=featureflow
POSTGRES_PASSWORD=ChangeMe!
POSTGRES_REPLICATION_USER=replicator
POSTGRES_REPLICATION_PASSWORD=ChangeMe!

# MS SQL Server
MSSQL_SA_PASSWORD=ChangeMe!123

# MySQL
MYSQL_ROOT_PASSWORD=ChangeMe!
MYSQL_USER=featureflow
MYSQL_PASSWORD=ChangeMe!
DEBEZIUM_PASSWORD=ChangeMe!

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=ChangeMe!

# Redis
REDIS_PASSWORD=ChangeMe!
